<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Privacy-Policy</title>
    <!-- <div class="col-sm-10">
        <a href="/vendor"><button type="button"  class="btn btn-primary">Home</button></a>
    </div> -->
</head>
<style>
    .accept-button {
        float: right;
        background-color: #0e4296;
        padding: 0.7em 1.5em;
        font-size: 0.95rem;
        color: white;
        border-radius: 5px;
        box-shadow: 0px 10px 15px -6px rgba(0, 0, 0, 0.2);
    }

    h1 {
        font-family: bebas neue;
        font-size: 46px;
        text-align: center;
        color: rgb(44, 48, 52);
        margin: 0;
        padding: 0 0 6px 0;
        border-bottom: 1px solid rgba(0, 0, 0, .15);
    }

    h2 {
        font-family: bebas neue;
        font-size: 26px;
        line-height: 20px;
        text-align: left;
        color: rgb(44, 48, 52);
        margin: 0;
        padding: 20px 0 0 0;
    }

    p {
        font-family: open sans;
        font-size: 13px;
        letter-spacing: 1px;
        color: rgb(44, 48, 52);
        margin: 0;
        padding: 10px 0 0 0;
    }

    .privacyPolicyWrapper {
        display: flex;
        flex-direction: column;
        max-width: 900px;
        margin: 0px auto;
        border: 2px solid #ccc;
        padding: 15px;
        border-radius: 15px;
    }

    .privacyPolicyWrapper h1 {
        margin-bottom: 15px;
    }

    /* .col-sm-10 {
        float: right;
        padding: 15px;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
        text-decoration: none;
    } */
</style>

<body>
    <div class="privacyPolicyWrapper">
        <h1>Privacy Policy</h1>
        <b>Memogram- (Community Guidelines).
            <br><br>
        </b>
        <h2>Our updated community guidelines for protection: </h2>
        <p>The existing health emergency due to the Covid 19 hit, we ensure that our community guidelines will provide
            you with complete protection from the harmful content and abuse referring to the COVID-19. We are focused to
            delete those pieces of content that are likely to cause harm to you and the entire community. We firmly
            adhere to genuine policies and try our best to stop the sharing of any misinformation regarding the sale of
            medical masks and related things that may cause the possibility of health issues.

        <h2>The Short</h2>
        <p> We wish to keep the Memogram as a reliable and secure platform for the exchange of messages and to build
            cordial connections with the world. We permit users to share or upload their photos and videos and encourage
            them to abide by the law. We do not permit users to spam people or post anything offensive.
            <br>This Application does collect precise information about the location of your mobile device. <br>

        </p>
        <h2> The Long </h2>
        <p>Memogram is a platform that reveals a diverse community of cultures, ages, and beliefs. We have intensively
            worked to build a safe and open platform for common folks to connect, communicate and explore.
             
            We have introduced the community guidelines to maintain a secure environment for our growing communities. By
            creating your Memogram account, you show your agreement to our guidelines and terms of use. We strictly
            follow our guidelines and expect you will abide by the helpful and essential guidelines to protect our
            community from trouble-causing content or any other posts. The violation of these guidelines will result in
            the deletion of your content, a disabled account, and other restrictions.
             
            We encourage the posting and sharing of that content that has the potential to create public awareness. If
            we find the content newsworthy and in the welfare of the public then even if the content does not follow our
            community guidelines, we permit posts. We step ahead for such an aspect only after efficiently realizing the
            public interest value against the risk of harm. We consider the international human rights standards to
            carry on analysis of such content.
        </p>
        <h2>Post only photos and videos that you’ve taken or have the authority to post or share:</h2>
        <p>We support the sharing and uploading of the legitimate content and owns to you. We strictly prohibit the
            posting of content or photos that you take from the internet and do not have the authority to post them on
            your Memogram account. We believe in reminding about the Intellectual property right of our consumers.
            <br><br>
        </p>

        <h2>Always post photos and videos which you find relevant to a diverse audience.</h2>
        <p>Sometimes, people wish to share nude images that might consist of artistic values but we do not permit the
            posting of such images on Memogram. Those images may include a variety of objectionable situations referring
            to the digitally-created private human body parts. However, photos in the context of birth-giving and
            health-related situations are permitted.
             
            People prefer the sharing of the video and photos of their children but from a security point of view, we
            delete the images of nude or partially nude children. It does not matter whether the content is shared with
            positive intentions, since other people may use those photos for some evil objectives.

        <h2>Always encourage purposeful and legitimate interaction:</h2>
        <b>We simply request our communities to empower us to stay span-free by posting and having genuine content and
            responses. Since the artificially collected followers, likes, or shares, posting repetitive comments or
            content is not the authentic means of managing the Memogram platform.
             
            We suggest people do not offer the money to purchase the likes, followers, comments, or other engagement.
            All these activities come under spam and will affect our community guidelines along with the terms of use.
            We never support the promotion and sharing of fake or misleading kinds of content through our services.
             
            Our community guidelines do not force you to use your real name on Memogram but we need your real name to
            keep you updated with the latest information at all times. Therefore, you do not have the authority to
            impersonate other users and you cannot create the account for infringement of our guidelines or to delude
            our communities.</b></p>

        <h2>Stick to the law:</h2>
        <p>Memogram is the not the platform to promote or support terrorism, crime, or hate groups. We do not allow the
            purchase or selling of firearms, tobacco products, and alcohol between private individuals, and buying or
            selling of non-medical or pharmaceutical drugs at any cost through our services.
             
            We also never encourage the promoting of the sexual offerings and delete those contents that intend to
            trade, co-ordinate the trade-off, donate, gift or ask for non-medical drugs. Memogram also discourages and
            prohibits the sale of animals between private individuals.
             
            We by no means offer the support for poaching or selling of endangered species or their parts. You have to
            remember to abide by the law when promoting the content for sale or you wish to buy the regulated goods. On
            the other hand, you cannot post or promote the content related to online gambling, online real money games
            of skill, or online lotteries through our services without our approval through a written document.
            We strictly follow the Zero tolerance policy for the promotion of sharing of the content referring to the
            sexual content involving minors or threatening to post intimate images of others.</p>

        <h2>Always offer Respect to other members of the Memogram community.</h2>
        <p>We prefer to raise a diverse community in a positive environment. Therefore, we always delete those contents
            that contain credible threats or hate speech. We also remove the content that intends to target an
            Individual to degrade or shame them.
             
            Further, we do not support the posting of the personal information of someone likely to cause trouble or
            harass someone. Mostly we choose to conduct the intensive conversation with hoes groups who have earned the
            popularity owing to their professionals.
             
            Memogram does not support the promotion of aggression or violence based on race, ethnicity, national origin,
            gender, gender identity, sexual orientation, sex, religious affiliation, diseases, or disabilities. If there
            is a need to post content of such kind, we attentively check out the intention of the users.
             
            We never support the uploading of content that refers to the serious threat of harm to the public and their
            safety. We do not believe in spreading misleading messages referring to physical harm as well as threats of
            theft, vandalism, and other financial harm or loss. The Memogram team goes through the reviews reports
            related to the threats to take the substantial decisions to prevent such aspects.</p>

        <h2>We focus on maintaining a supportive environment by avoiding the glorification of the self-injury:</h2>
        <p>Memogram communities focus on offering full support to each other and specifically to those who face
            unexpected issues due to eating disorders, cutting, or other kinds of self-injury. We believe in putting
            efforts to create awareness and provide the required assistance. We always prefer to perform our
            responsibilities by offering the relevant education in the app. ad including the necessary information in
            the help center to empower the users to receive the help according to their requirements.
             
            Further, we emphasize deleting the disabled account and also opt to delete the content that reveals the
            victims or survivors of self-injury in case the content reveals the intention of attacking them or making
            them a laughing stock.
        </p>

        <h2>We expect people to be attentive while posting the newsworthy events:</h2>
        <p>Different people are using the Memogram to post important and newsworthy events. Therefore, some of that
            content s may consist of graphic images. We prefer to delete the videos or content that tends to promote
            graphic violence to ensure that Memogram considers every user equal and that its policies apply to
            everyone. 

            We value the emotions of people who share the content to raise awareness or educate. We usually encourage
            the posting of this content and support people to create the relevant caption for their uploaded photos with
            warning posts for the graphics violence. We do not allow the promotion of the content that intends to share
            the graphic images for inhuman satisfaction or to glorify violence. </p>

        <h2>We aim at keeping our community strong:</h2>
        <p>We realize the importance of each of us as the part of Memogram. In case you observe something that is
            violating our community guidelines, then help us to find the same by letting us know through the built-in
            reporting option. We work with a global team of professionals to into the matter of such kind. They are
            experts at resolving these kinds of concerns at a faster pace and so they carry on the recheck process to
            find some more.
             
            Even if you have no Memogram account you may make us familiar with community guidelines violating content
            through the File a report option. However, we would expect that when you initiate such a step and then make
            sure that you are making us familiar with all necessary links, usernames, and descriptions of the content
            for our faster action for resolution. We may prefer to delete all those posts that are violating our
            guidelines.
            Further, you have the authority to look for the content you do not like, and also you may unfollow or block
            the individual who has shared that content. Another option you have is to remove the comment if you do not
            like something by using the Delete that comment option.

            Multiple kinds of disputes may be resolved instantly between the members of the community. Sometimes, your
            content or photos may be posted by other persons. You can simply comment on that post to ask them to remove
            it as soon as possible.
             
            However, if this initiative fails to work, you can file a copyright report. If you experience that someone
            is trying to infringe your trademark policy, you can immediately step ahead to file a trademark report. But
            you have no right to target the person who has posted a screenshot of your content or image. Since your
            effort to draw attention to such a person will fall under the act of harassment.
             
            We have the authority to work with law enforcement in case we find that there are possibilities of physical
            injury or harm or threat to community safety and security.</p>
    </div>
</body>

</html>