<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Term & Conditions</title>
    <!-- <div class="col-sm-10">
        <a href="/vendor"><button type="button"  class="btn btn-primary">Home</button></a>
    </div> -->
</head>
<style>
    .accept-button {
        float: right;
        background-color: #0e4296;
        padding: 0.7em 1.5em;
        font-size: 0.95rem;
        color: white;
        border-radius: 5px;
        box-shadow: 0px 10px 15px -6px rgba(0, 0, 0, 0.2);
    }

    h1 {
        font-family: bebas neue;
        font-size: 46px;
        text-align: center;
        color: rgb(44, 48, 52);
        margin: 0;
        padding: 0 0 6px 0;
        border-bottom: 1px solid rgba(0, 0, 0, .15);
    }

    h2 {
        font-family: bebas neue;
        font-size: 26px;
        line-height: 20px;
        text-align: left;
        color: rgb(44, 48, 52);
        margin: 0;
        padding: 20px 0 0 0;
    }

    p {
        font-family: open sans;
        font-size: 13px;
        letter-spacing: 1px;
        color: rgb(44, 48, 52);
        margin: 0;
        padding: 10px 0 0 0;
    }

    .termConditionWrapper {
        display: flex;
        flex-direction: column;
        max-width: 900px;
        margin: 0px auto;
        border: 2px solid #ccc;
        padding: 15px;
        border-radius: 15px;
    }

    .termConditionWrapper h1 {
        margin-bottom: 15px;
    }

    /* .col-sm-10 {
        float: right;
        padding: 15px;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
        text-decoration: none;
    } */
</style>

<body>
    <div class="termConditionWrapper">
        <h1>Terms and Conditions</h1>
        <h2>Memogram: (Terms of Use)</h2>
        <h3>Welcome to Memogram:</h3>
        <p>The stated “Terms of Use” will regulate the use of the Memogram services to protect our growing community
            from offensive and unsafe content. Your Memogram account creation will divulge your agreement with our
            terms.</p>
        <h2>Memogram Services:</h2>
         
        <p>You would be accountable to maintain the rules and regulations offered by Memogram while using any of its
            services. We offer all-important Memogram services with a mission to keep you connected with the world and
            other latest information you prefer to have.</p>
        <h2>We have created the Memogram services based on these factors:</h2>
         
        <h2>We believe in building the platform that may let you create and communicate along with exploring and
            <p>exchanging the important information:
        </h2>
        Since we are dealing with folks of different communities and hence we
        prefer to let you develop a cordial relationship by sharing your experience with others.
         
        We value your preference and morale and assist you to find and communicate and connect with others who
        matter to you. Apart from these, we also recommend the content, features, and other offers according to your
        activity pattern to boost your service experience with Memogram.</p>
         
        <h2>We like to cultivate a safe environment for Memogram users:</h2>
        <p>We focus on taking the practice approach to make
            your experience positive with the Memogram services. Thus, we have opted to work with state-of-art
            technology and skilled resource to effectively tackle the abuse and violations of our stipulated Terms and
            policies.
             
            Our team also keeps checking on harmful and deceptive behavior to eliminate the possibilities of the issues.
            We reserve the right to share the misuse and abuse with other Meta Companies or law enforcement. </p>
         
        <h2>We are focused on creating the technologies to serve our growing communities to the fullest:</h2>
        <p>Serving out
            growing communities to the fullest is our priority. Thus, we have completely focused on building helpful and
            futuristic technologies to offer personalized services to our community members.
             
            Technologies such as artificial intelligence and machine learning enable us to sophisticate our service
            process. Apart from these, the user of the automated technologies makes sure about maintaining the
            functionality and integrity of our services.</p>
         
        <h2>We offer reliable and enhanced experiences across other Meta Company Products:</h2>
        <p>Meta companies have
            introduced the Memogram services. They have the potential to share the technology, systems, insights, and
            information. Thus, we prefer to create a platform for uninterrupted interaction with the Meta company
            product that you are using. Such an aspect is important for the achievement of reliable and enhanced
            experiences with the Meta company products.</p>
         
        <h2>We make sure about your access to our services:</h2>
        <p>To maintain the appropriate effacing of the global service
            operation, we are working with the global infrastructure. We opt to share data across the global
            infrastructure system to help people reach our Memogram service irrespective of their geographic location.
            Meta platform Meta Platforms Ireland Limited or its affiliates are accountable to run and manage such global
            infrastructure.</p>
         
        <h2>We help you connect with the brands, products, and services in a way you like to:</h2>
        <p>We collect the
            relevant
            piece of the information available in the form of Memogram data.
             
            We also focus on taking a glance at the information of the Meta Company Products third-party partners for
            displaying the ads, offers, and other sponsored content we find relevant for you. </p>
         
        <h2>We follow the practice of research to include the innovation:</h2>
        <p>We are constantly focused on
            researching more
            and more to improve our Memogram services. We initiate by utilizing information that we get from the
            different sources to add additional convenience for Memogram users.</p>
         
        <h2>Our Data Policy:</h2>
         
        <p>The collection of your information is crucial to make you eligible to use our Memogram services. Our data
            policy will help you find the way we gather utilize and share the information across the Meta products.
            Thus, you will need to show your agreement to the included data policy to access the service of the
            Memogram.
             
            The provision of the data policy will let you control your information, along with the Memogram privacy and
            security settings.</p>
         
         </h2>User’s Commitment:</h2>
         
        <p>We expect a certain commitment as a part of “terms of use” from our community to provide them with the
            allowance to use our Memogram services.</p>
         
        <h2>Who is eligible to use Memogram services:</h2>
        <p>We are steadily working to keep our Memogram platform
            and services
            open with full security as much as possible. We emphasize maintaining the enforced law at all costs for the
            enhanced experience with our services.
             
        <ul>
            <li> Your age must be 13 or above to be eligible to use the Memogram services.</li>

            <li> You must be at liberty to receive any of the information related to our service and service updates
                under
                applicable laws.</li>

            <li> You should not have any disabled Memogram account for the infringement of the law in the record.</li>

            <li> Your name should not be available on the list of convicted people.</li>
        </ul>
        </p>
         
         
        <h2>How You Can't Use Memogram:</h2>
        <p>We believe in offering safe and secure services to our community board.
            Therefore, you would be subject to stick to the prohibited terms such as:
             
            <b>You will need to provide us with the appropriate information: It would be important for you to offer us
                an
                accurate piece of information related to your identity.</b> Further, you cannot create the Memogram
            account for
            someone else if you have not received the express permission.
             
        <ul>
            <li> You are strictly prohibited to conduct any kind of unlawful activity that is likely to cause the
                fraudulent for the illegal or unauthorized objectives.

            <li> You cannot initiate to create accounts or reach or gather information in illegal or unauthorized ways.
            </li>

            <li> You are completely prohibited from selling licenses or purchasing any account or data obtained from
                us.</li>

            <li> You would have no right to discriminate or frighten any individual on the basis of his or her sexism,
                racism, religious factor, etc.</li>

            <li> You would have no right to share or post someone else’s private or confidential information. Such an
                act
                will fall under the violation of someone else's rights, including intellectual property rights.</li>

            <li> You cannot translate and create plagiaristic of our services and utilize the domain name or URL in
                your
                username unless you receive our prior written consent.</li>
        </ul>
        <b>Permissions approved by you for us.</b> You provide us with the certain permissions that we need to offer
        the
        Memogram services to our users.</p>
         
        <h2>Despite having the license to use your consent, we never claim our rights on it:</h2>
        <p>Although you provide us
            with the license to use your uploaded content, we do not show ownership of your posted content. We allow
            users to share their content with anyone as per their choice. However, we require specific kinds of
            legal
            permissions to offer you the Memogram services. Since the content, you upload or post is managed by
            intellectual property rights.

            Further, you approve us for modifying, distributing, copying, or translating the content that you
            uploaded.
            Such aspect refers to the consistency with your privacy and application settings. But the license end
            after
            the deletion of your content from our system. We do not interrupt you from deleting the content
            according to
            your desire. You can once take a look at our data policy to recall how we use your information. </p>
         
        <h2>We need the authorization to utilize your username, profile picture, and information about your
            relationships and actions with accounts, ads, and sponsored content:</h2>
        <p>  You provide us with permission to
            reveal your username, profile picture, and information about your relationships and actions with
            accounts,
            ads and sponsored content. With such provision, we get the opportunity to show what Ad you have liked
            posted
            by the particular brand that has paid us to promote on our Memogram platform. Apart from these, we also
            value the ad configuration you create, and further you can learn more to make your ad setting effective
            and
            relevant.
             
            You also offer us the right to download and install updates to the service on your device.</p>
         
         
        </h2>What Additional Rights Do We Reserve?</h2>
         
        <ul>
            <li> In case, if you choose the username of a similar identifier for your account, we reserve the right to
                change it if we find the necessary action. We keep checking such occurrence as it refers to the
                violation of
                someone’s intellectual property.</li>

            <li> Secondly, if you choose the content that falls under the intellectual property rights that we have
                used
                for our Memogram services, then we are only the authorized source to handle that content that includes
                the
                images, designs, videos, or sounds. You would have no right to make any changes in the content that we
                have
                provided you to use your content or other sharing. </li>

            <li> Next, you will have the authority to the utilization of our intellectual property and trademarks.
                However,
                you can also use similar marks as specifically approved by our Brand Guidelines. </li>

            <li> Further, you would be subject to receiving the approval from us or under an open source license if you
                wish to change, create derivative works of, or decompile. The same rule would be applicable if you
                attempt
                to extract source code from us.</li>
        </ul>
         
        <h2>Content Removal and Disabling or Terminating Your Memogram Account:</h2>
         
        <p>We have the right to delete or remove the content uploaded or posted by you if we find infringement of our
            “terms of use”. We have got such authority as the legal right and further, we may completely stop Memogram
            services including terminating or disabling your access to the Meta Products and Meta Company Products to
            you.
             
            We immediately take action against such violations to keep our growing community safe from any possible
            risk. We reserve all legal rights to maintain the credibility of our services and we can terminate or block
            the content that you post on the Memogram platform if we realize that taking such action is essential to
            prevent the undesirable legal or regulatory impacts on our services. You can further contact the help center
            if you find that the termination of your Memogram account has taken place in error.
             
            Deletion of the content on you put request: once you put the request for the deletion of the content the
            deletion process will begin automatically after the 30 days of your request. Therefore, the deletion process
            is like to get completed in 90 days. However, during the ongoing process of deletion, you would not be able
            to see your content but it will remain part of our Term to use and data policy. Further, deletion of the
            content from your backup and disaster recovery systems takes place in another 90 days. 
             
            Further, if you delete your Memogram account then you need to remember that your content is not going to be
            deleted in 90 days. Usually, the deletion of the content takes place under these circumstances: 
             
             When someone else has utilized your content as per the rules of this license and he or she has bot deleted
            it.
             
            Sometimes there might be a limitation for deletion of the content in 90 days owing to some technical aspect;
            in that case, we try our best to delete that content within a short span if such process is technically
            reasonable. </p>
         
        <h2>Our Agreement and What Happens if We Disagree Our Agreement:</h2>
         
        <p>If you opt for using a specific kind of music for your content then it would be the subject of our music
            guidelines. Further, the utilization of the API will refer to the subject of our Meta Platform terms and
            developer policies. In case, you choose to include the other feature then your activity would be part of the
            additional terms of our services and approved agreement between us. Suppose, you are using the payment
            feature then you will require showing your agreement to the community payment terms to continue with the
            feature.</p>
         
        <ul>
            <li> You may be the subject of another agreement in case the conflict takes place with these terms:</li>

            <li> If any factor of the previous agreement is not enforceable, then others will remain in existence and
                functional.</li>

            <li> Any kind of agreement will be made available in the written form and will be granted with our sign.
            </li>

            <li> If we could not enforce any of the rules of the offered agreement, then it would not be an effective
                one.</li>
             
            <h2>Who reserves rights for this agreement?</h2>
             
            <li> No, the third party is eligible to get the right under this agreement.</li>

            <li> You would have no authority to reassign the rights under this agreement in absence of our permission
                and
                consent.</li>

            <li> Further, on changing our ownership by law, our reserved rights and obligation may be reassigned to
                others.</li>
        </ul>

        <h2>Who would be accountable if anything happens?</h2>
         
        <p> Mishappenings and other issues are usually with the platform based on technical factors. Thus, we try our
            best to deliver the most reasonable and reliable services. However, we still do not ensure that our services
            would stay safe and secure at all times and under all circumstances. Thus, we also disclaim these aspects
            like all warranties, whether express or implied, including the implied warranties of merchantability,
            fitness for a particular purpose, title, and non-infringement despite having permission by law. 
             
            We are not responsible to control want users and other folks do or post their Memogram account or their
            conduct and actions both online and offline. Apart, we are also not answerable for the access of users to
            the services and features provided by other people and sources. 
             
            We have limited responsibility offered by law (i.e. liability) to keep a check on the happenings regarding
            our services. In case of the unanticipated kind of problems occur with our services, we would not be able to
            find them and realize the impact on our services. further, you show your agreement that we would not be
            accountable for any unexpected loss of revenues, information, or data, or consequential, punitive special,
            indirect, exemplary, or any incidental damages taking place beyond these Terms despite being capable of
            resolving it. Such a thing may also apply to the deletion of your content, information, or Memogram account.
        </p>
         
        <h2>Our Strategy to Handle Disputes:</h2>
         
        <p>Being a consumer of a specific country, the laws will apply to that country. You would avail of the full
            freedom to visit the court in that country that has jurisdiction to resolve any claim, cause of action, or
            dispute that you have against us or related to these Terms ("claim"). 
             
            Further, we would also have the authority to throw the light on your violation of the terms in the form of
            abuse that you brought to our services. Later your interference and association with unauthorized products
            would also be the subject of law in the country in which you reside that has jurisdiction over the claim.
        </p>
         
        <h2>Unsolicited material:</h2>
         
        <p>We usually admire the feedback or other imperative suggestion that consumers provide us to improve our
            services. Thus, we have the right to utilize the provided feedback or suggestion without any restrictions as
            the compensational component. These data do not fall under any kind of obligation to maintain their
            confidentiality. </p>
         
        <h2>Update of These Terms:</h2>
         
        <p>We reserve the authority to modify the services and policies if the requirement arises. The need for changes
            may be due to some specific reason to appropriately reveal the features of the services and policies. In
            case we need to change the services and policies required by law, in that condition, we would send you a
            notification to make you aware of the changes.
             
            Therefore, if you choose to continue with our service, it would be part of your agreement with our updated
            services ad policies. In case you do not wish to agree with the updated terms of use, you can follow the
            steps to delete your Memogram account. </p>
    </div>
</body>

</html>